* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  align-items: center;
  flex: 25%;
  max-width: 100%;
  border: 2px solid black;
  float: left;
  margin: 10px;
  background-color: grey;
  font-size: 70%;
  padding: 5px;
  font-family: arial;
  }

 

.box h2 {

	text-align: center;
	border:1px solid black;
	margin: -5px;
	background-color: yellow;
	border-right:0px;
	border-top: 0px;
	font-size: 70%;
	margin-left: 70%;
	font-family: arial;
	}
.box h3 {

	text-align: center;
	border:1px solid black;
	margin: -5px;
	background-color: red;
	border-right:0px;
	border-top: 0px;
	font-size: 70%;
	margin-left: 70%;
	font-family: arial;
	}
.box h4 {

	text-align: center;
	border:1px solid black;
	margin: -5px;
	background-color: blue;
	border-right:0px;
	border-top: 0px;
	font-size: 70%;
	margin-left: 70%;
	font-family: arial;
	}


.Kalad {
	text-align: center;
	margin-top: 30px;
	font-size: 75%;
	margin-bottom: 20px;
	font-family: arial;
	}

}

@media screen and (max-width: 767px){
	.box { 
		flex: 100%
		max-width: 100%;
		}
}
@media screen and (min-width: 992px) { 
	.box { 
		flex: 100%
		max-width:100%;
		}
}
	
@media only screen and (min-width: 768px) and (max-width: 991px){
	.box { 
		flex:100%;
		max-width: 100%;
		
		}
}